<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="BillingTestCases.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
  
  <parameter name="Browser" value="Edge"></parameter>
	<!--<groups>
	</groups>-->
    <classes>
      <class name="BillingTestCases.TestCases">
      <methods>
      <include name="TC24BillingDeleteUser"/>
     
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->